<tr
  id="{{ item.id }}"

  {% if is_last_item %}

  hx-get="/lookups"
  hx-vals='{"sort_by": "date", "sort_order": "{{ "asc" if sorting.sort_order == "asc" else "desc" }}"}'
  hx-include="#filter-form"
  hx-trigger="intersect once"
  hx-target="#lookup-table-body"
  hx-swap="beforeend"

  {% endif %}
>
  <td class="text-center">{{ item.word }}</td>
  <td>{{ item.book }}</td>
  <td>{{ item.sentence }}</td>
  <td class="text-center">{{ item.date.strftime('%Y-%m-%d') }}</td>
  <td class="text-center">{{ item.language }}</td>
</tr>
